/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.sandbox img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sandbox img:hover {
  cursor: crosshair;
  -webkit-filter: none;
  filter: none;
}

.grayscale {
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);
}

.blur {
  -webkit-filter: blur(5px);
  filter: 5px;
}

.invert {
  -webkit-filter: invert(99%);
  filter: invert(99%);
}

.sepia {
  -webkit-filter: sepia(99%);
  filter: sepia(99%);
}